body{
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
  background:#f7f4ef;
}

.top-bar{
  background:#7b5b3d;
  color:white;
  padding:20px;
  font-size:28px;
  text-align:center;
  font-weight:bold;
}

.hero-card,
.prayer-card,
.profile-card{
  background:#f4efe9;
  margin:25px;
  padding:30px;
  border-radius:25px;
  text-align:center;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.hero-card h1{
  font-size:38px;
}

.hero-card p{
  font-size:24px;
  line-height:1.7;
}

button{
  background:#c8ab7f;
  color:white;
  border:none;
  padding:15px 30px;
  border-radius:15px;
  font-size:18px;
  margin-top:20px;
}

.home-buttons{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  padding:25px;
}

.nav-card{
  background:#c8ab7f;
  color:white;
  padding:40px 20px;
  border-radius:25px;
  text-align:center;
  font-size:24px;
  font-weight:bold;
}

a{
  text-decoration:none;
}

.topics-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  padding:25px;
}

.topic-card{
  background:#c8ab7f;
  color:white;
  padding:40px 20px;
  border-radius:25px;
  text-align:center;
  font-size:24px;
  font-weight:bold;
}

textarea{
  width:90%;
  height:120px;
  border-radius:15px;
  padding:15px;
  font-size:18px;
  border:none;
}

#favoritesList{
  padding-bottom:50px;
}
